---
import { basics } from '@cv'
import Mail from '@/icons/Mail.astro'
import Phone from '@/icons/Phone.astro'
import GitHub from '@/icons/GitHub.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import Medium from '@/icons/Medium.astro'
import Briefcase from '@/icons/Briefcase.astro'

const { name, email, phone, profiles, url } = basics
---

<section>
	<div class="container">
		{
			url && (
				<a
					href={url}
					title={`Visit ${name}'s website`}
					target="_blank"
					rel="noopener noreferrer">
					<Briefcase />
				</a>
			)
		}
		{
			email && (
				<a
					href={`mailto:${email}`}
					title={`Send an email to ${name} at ${email}`}
					target="_blank"
					rel="noopener noreferrer">
					<Mail />
				</a>
			)
		}
		{
			phone && (
				<a
					href={`tel:${phone}`}
					title={`Call ${name} at ${phone}`}
					target="_blank"
					rel="noopener noreferrer">
					<Phone />
				</a>
			)
		}
		{
			profiles &&
				profiles.map((profile) => (
					<a
						href={profile.url}
						title={profile.network}
						target="_blank"
						rel="noopener noreferrer">
						  {profile.network.toLowerCase() === 'github' && <GitHub />}
						  {profile.network.toLowerCase() === 'linkedin' && <LinkedIn />}
						  {profile.network.toLowerCase() === 'medium' && <Medium />}
					</a>
				))
		}
	</div>

	<style>
		.container {
			width: 100%;
			font-size: 12px;
			border-radius: 2px;
			display: flex;
			align-items: center;
			gap: 8px;
			svg {
				min-width: 16px !important;
				width: 18px !important;
				min-height: 16px !important;
				height: 18px !important;
				margin: 0 auto;
			}
			a {
				width: 32px;
				height: 32px;
				border-radius: 8px;
				border: 1px solid var(--color-deep-sea-50);
				color: var(--color-deep-sea-700);
				background: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				transition: background 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
				&:hover {
					background: var(--color-deep-sea-50);
          box-shadow: 0 2px 4px var(--color-deep-sea-300);
				}
			}
		}

		@media print {
			.container {
				-webkit-print-color-adjust: exact; /* Chrome/Safari */
				print-color-adjust: exact; /* Estándar */
				color-adjust: exact; /* Firefox */
			}
		}
	</style>
</section>
